
div.login{
  font-size: 18px;
  background: lightcyan;
  width:50%;
  height:420px;
  margin:auto;
  padding:3% 10% 10%;
  border-radius:10px;
  border:2px solid lightgreen;
  position: relative;
  top:80px;
  input{
    width:100%;
    height:44px;
    margin:20px auto;
    border-radius:5px;
    border:none;
  }
  button{
    width:100%;
    height:44px;
    margin-top: 40px;
    border-radius:5px;
    border:none;
    background-color: lightskyblue;
  }
}

//二维码样式
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
/* pop */
#pop{background:#fff;width:130px;border:1px solid #e0e0e0;font-size:12px;position:fixed;right:10px;bottom:10px;}
#popHead{line-height:32px;background:#f6f0f3;border-bottom:1px solid #e0e0e0;position:relative;font-size:12px;padding:0 0 0 10px;}
#popHead h2{font-size:14px;color:#666;line-height:32px;height:32px;}
#popHead #popClose{position:absolute;right:10px;top:1px;}
#popHead a#popClose:hover{color:#f00;cursor:pointer;}
#popContent{padding:5px 10px;}
#popTitle a{line-height:24px;font-size:14px;font-family:'微软雅黑';color:#333;font-weight:bold;text-decoration:none;}
#popTitle a:hover{color:#f60;}
#popIntro{text-indent:24px;line-height:160%;margin:5px 0;color:#666;}
#popMore{text-align:right;border-top:1px dotted #ccc;line-height:24px;margin:8px 0 0 0;}
#popMore a{color:#f60;}
#popMore a:hover{color:#f00;}