div.login{
  font-size: 18px;
  background: lightcyan;
  width:50%;
  height:50%;
  margin:60px auto;
  padding:50px 10%;
  position: relative;
  border-radius:10px;
  border:2px solid lightgreen;
  input{
    width:100%;
    height:45px;
    margin:20px auto;
    border-radius:5px;
  }
  button{
    position:absolute;
    bottom:50px;
    left:50%;
    margin-left: -100px;
    width:200px;
    height:48px;
    border-radius:5px;
    background-color: lightskyblue;
  }
}